<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Custom parameters-->
    <add key="StartTime" value="11:21:00AM" />
    <add key="EndTime" value="5:00:00AM" />
    <add key="MultipleOemIntervalMinutes" value="10"/>
    <!--Number of minutes to wait until -->
    <add key="IntervalMinutes" value="1" />
    <!--Number of minutes to wait until rerunning the EDFTask verifier-->
   
    

    <!--
    Key Numerals should always represent a single OEM 
    (EG Task1 = 'HYUTask' and Log1="HYULog", Task2='KIATask' and Log2="KIALog", etc)
    -->
    <add key="EDFTask1" value="HYNEDF"/>
    <add key="EDFTask2" value="KiaEDF" />

    <!--ServiceLog-->
    <add key="log_queue_name" value="DIRECT=TCP:192.168.60.5\Private$\DealerTrackLogs"/>


    <!--
    EDFTaskLogSection
    -->
    <add key="LogDirectory1" value="C:\"/>

    <add key="LogDirectory2" value="D:\"/>

    <!--logArguments for validation are the same across all OEMs-->
    <add key="LogArgument1" value="lorem"/>
    <add key="LogArgument2" value="ipsum"/>

    <!--
    End of EDFTaskLogSection
    -->

    <!--End Custom Parameters-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>